html{
    height:  100%;
}

body{
    background-color: #CCC;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#wrapper{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    height: 100%;
    display: flex;
}

#wrapperInterno{
	padding: 0px;
	width: 336px;
	height: 336px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

#wrapperInterno div{
	width: 50px;
    height: 50px;
    margin: 3px;
    /*flex-wrap: wrap;*/
	padding: 0px;
	background-color: #CCC;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}