html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#wrapper{
    width: 900px;
    margin: 30px auto;
    height: 90%;
    border: 2px solid blue;
    padding: 10px;
}

#wrapperInterno{
    width: 450px;
    height: 450px;
    padding: 0;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.cella{
    width: 40px;
    height: 40px;
    margin: 2px;
    padding: 0px;
    background-color: rgb(127, 127, 127);
}